body{
  background-color: wheat;
}

.App{
  background-color: rgba(220, 254, 255, 0.63);
  min-height: 500px;
  width:400px;
  margin: 40px auto;
}

.app__form input{
  width: 200px;
  height: 30px;
  /* margin: 50px; */
  margin-top: 0px;

  padding: 0 10px;
  margin-right: 20px;
  /* padding: 5px; */
  font-family: cursive;
}

.app__form button{
  height: 30px;
  font-family:fantasy;
  /* margin: 10px; */
  cursor: pointer;
}